.demonstrationWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px;
    background-image: url(/public/images/banner-car-1.png);
}

.demonstrationWrapper h1{
    color: white;
    padding-top: 50px;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.25px;
}

.demonstrationBody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customPlayer{
    padding: 2.5rem 3rem 5.5rem 3rem;
}

.reactPlayer video{
    border-radius: 10px !important;
}
