.cgu-content{
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cgu-file{
    width: 50%;
}

@media (max-width: 768px) {  /* Adjusts for tablets and smaller screens */
    .cgu-file {
        width: 100%;
    }
}

h2{
    text-align: center;
}

.cgu-section, .cgu-section h4{
    padding: 20px 0;
}