.mentions-legales-content {
    padding: 30px;
  }
  
  h2 {
    text-align: center;
  }
  
  .mentions-legales-section, .mentions-legales-section h4 {
    padding: 20px 0;
    line-height: 1.6;
  }
  
  .mentions-legales-section p {
    white-space: pre-line; /* To handle the new lines in the JSON text */
  }
  
  .mentions-legales-section h4 {
    color: #333;
    font-size: 1.5em;
  }