.bodyCancel{
    text-align: center;
    background: #EBF0F5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1Cancel {
    color: #bc6666;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    color: #404F5E;
    font-size:20px;
    margin: 0;
  }
.cross {
  color: #bc6666;
  font-size: 80px;
}
.cardCancelBody{
    border-radius:200px;
    height:200px;
    width:200px;
    background: #F8FAF5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardCancel {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}